---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Astro</h1>
		<aside>
			<h2>go someplace</h2>
			<a href="/">Home</a>
		</aside>
		<main>
			<h2>The Main Section of the About Page</h2>
			<p>What can I say about me that I don't already know?</p>
			<p>I am currently building a project in Astro js as I am learning Astro js. So far, so good!!</p>
		</main>
	</body>
</html>
