---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "bLog";
---

<BaseLayout pageTitle={pageTitle}>
	<p>It looks like this is where blog pages will go.</p>
	<ul>
		<li><a href='/posts/post-1'>First</a></li>
		<li><a href='/posts/post-2'>Necessity</a></li>
		<li><a href='/posts/post-3'>Beer</a></li>
	</ul>
</BaseLayout>
